body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    color: #333;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: stretch;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container, .header {
    width: 100%;
}

.centerflex {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
button {
    font-family: Arial, sans-serif;
    color: #333;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

label {
    margin: 10px 0 5px;
    display: block;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
    background: linear-gradient(to right, 
                                rgba(255, 255, 255, 0) 0%, 
                                rgba(255, 255, 255, 1) 45%, 
                                rgba(255, 255, 255, 1) 55%, 
                                rgba(255, 255, 255, 0) 100%);
    background-color: rgba(255, 255, 255, 0.5); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.logo {
    max-width: 120px; 
    height: auto;
}

.thankyou {
    background-color: rgba(250, 248, 235, 0.75);
    border-radius: 4px;
    border: 2px solid black;
    padding: 20px;
    width: 50%; /* Adjust this width as necessary */
    text-align: center;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .half-width {
        display: flex;
        justify-content: space-between;
    }

    .half-width .form-group {
        flex: 1;
        margin-right: 10px;
    }

    .half-width .form-group:last-child {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 10px 0;
    }

    .logo {
        max-width: 80px;
    }
}

